<h1>Listing Articles</h1>
Welcome <%= current_user.email %><br/> 
<%= link_to 'New article', new_post_path %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>



<% @articles.each do |article| %>
  <h2><%= link_to article.title, post_path(article) %></h2>
    By <code><%= User.find(article.user_id).email %> &nbsp;&nbsp; <%= link_to 'Edit', edit_post_path(article) %> &nbsp;&nbsp;
    <%= link_to 'Destroy', post_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></code><br/>
    <p>
      <%= article.body %>
    </p>
    <code> Tags: <%= article.tags.join(", ") %> </code>
<% end %>
